<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <marquee scrollamount="50" behavior="alternate">
        <h1>🍌 | Home Page | 🍌</h1>
    </marquee>
    <a href="{{url_for('home')}}">
        <button>Home</button>
    </a>

    <a href="{{url_for('login')}}">
        <button>Login</button>
    </a>

    <a href="{{url_for('registreren')}}">
        <button>register</button>
    </a>
    
</body>
</html>